#header{
    background-color: #152d59;
    color: white;
}

@media (max-width: 500px) {
    #header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
    }
}

@media (min-width: 500px) {
    #header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }    
}