<h1>Lista de Pets</h1>
<div class="appointment-list">
    <section *ngFor="let atendimento of listaAtendimentos">
        <h2> {{ atendimento.nome}} </h2>
        <span> Tutor: {{ atendimento.tutor }} </span>
        <br>
        <span> Data: {{ atendimento.data }} </span>
        <br>

        <button id="Detalhar" (click)="detalharAtendimento( atendimento.id )">{{ atendimento.exibirDetalhes ? 'Esconder Detalhes' : 'Mostrar Detalhes' }}</button>
        <button id="Editar" (click)="editarAtendimento( atendimento.id )">Editar</button>
    </section>
</div>