h2{
    font-family: 'Roboto', sans-serif;
    border-style: none none solid none;
    border-width: 2px;
}

#imagens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#destaque img{
    width: 100px;
    height: 100px;
    margin: 10px;
    display: block;
}