body {
    font-weight: normal;
    font-family: 'Ubuntu', sans-serif;
}

img{
    height: 200px;
    width: 200px;
}

#amarelo {
    color: yellow;
}

#vermelho {
    color: red;
}

#azul {
    color: blue;
}

#marron {
    color: brown;
}

#violeta {
    color: violet;
}