h2{
    font-family: 'Roboto', sans-serif;
    border-style: none none solid none;
    border-width: 2px;
}

@media (max-width: 500px) {
    #noticias {
        margin-bottom: 5px;
    }
}

@media (min-width: 500px) {
    #noticias {
        margin-left: 5px;
        margin-right: 5px;
    }
}