@media (max-width: 500px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
    }

    h1{
        font-family: 'Playfair Display', sans-serif;
    }
    
    h2{
        font-family: 'Roboto', sans-serif;
        border-style: none none solid none;
        border-width: 2px;
    }
    
    p{
        font-family: 'Lato', sans-serif;
        color: black;
    }

    #headerMain{
        flex: 1 0 100%;
    }

    #menuMain{
        flex: 1 0 100%;
    }

    #noticiasMain{
        flex: 1 0 100%;
    }

    #destaqueMain{
        flex: 1 0 100%;
    }

    #servicosMain{
        flex: 1 0 100%;
    }

    #resultadosMain{
        flex: 1 0 100%;
    }

    #footerMain{
        flex: 1 0 100%;
    }
}

@media (min-width: 500px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
    }

    h1{
        font-family: 'Playfair Display', sans-serif;
    }
    
    h2{
        font-family: 'Roboto', sans-serif;
        border-style: none none solid none;
        border-width: 2px;
    }
    
    p{
        font-family: 'Lato', sans-serif;
        color: black;
    }

    #headerMain{
        flex: 1 0 100%;
    }

    #menuMain{
        flex: 1 0 33.33%;
    }

    #noticiasMain{
        flex: 1 0 33.33%;
    }

    #destaqueMain{
        flex: 1 0 33.33%;
    }

    #servicosMain{
        flex: 1 0 33.33%;
    }

    #resultadosMain{
        flex: 1 0 33.33%;
    }

    #footerMain{
        flex: 1 0 100%;
    }
}
