<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:wght@500&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <app-header id="headerMain"></app-header>

        <app-menu id="menuMain"></app-menu>

        <app-noticias id="noticiasMain"></app-noticias>

        <app-destaque id="destaqueMain"></app-destaque>

        <app-servicos id="servicosMain"></app-servicos>

        <app-resultados id="resultadosMain"></app-resultados>
        
        <app-footer id="footerMain"></app-footer>
    </div>
</body>
</html>