<h1>Lista de Pets</h1>
<div class="appointment-list">
    <section *ngFor="let atendimento of listaAtendimentos">
        <h2> {{ atendimento.nome}} </h2>
        <span> Tutor: {{ atendimento.tutor }} </span>
        <br>
        <span> Data: {{ atendimento.data }} </span>
        <br>
        <div *ngIf="atendimento.exibirDetalhes">
            <span> Tipo de animal: {{ atendimento.tipo }}</span>
            <br>
            <span> Raça: {{ atendimento.raca }}</span>
            <br>
            <span> Observações: {{ atendimento.obs }}</span>
            <br>
        </div>

        <button id="Detalhar" (click)="detalharAtendimento( atendimento.id )">{{ atendimento.exibirDetalhes ? 'Esconder Detalhes' : 'Mostrar Detalhes' }}</button>
        <button id="Editar" (click)="editarAtendimento( atendimento.id )">Editar</button>
    </section>
</div>