body {
    background-color: black;
}



@media (max-width: 772px){
    

    #ipad {
        display: none;
    }

    #notebook {
        display: none;
    }

    body {
        background-color: red;
    }
}

@media (min-width: 773px) and (max-width: 1100px){
    #samsung {
        display: none;
    }

    #notebook {
        display: none;
    }

    body {
        background-color: yellow;
    }
}

@media (min-width: 1101px){
    #samsung {
        display: none;
    }

    #ipad {
        display: none;
    }

    body {
        background-color: green;
    }
}