h2{
    font-family: 'Roboto', sans-serif;
    border-style: none none solid none;
    border-width: 2px;
}

@media (max-width: 500px) {
    #menu{
        margin-bottom: 5px;
    }

    #menu ul{
        padding: 0;
        margin: 0;
    }
}

@media (min-width: 500px) {
    #menu ul{
        padding: 0;
        margin: 0;
    }
}