body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-destinos{
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

.roteiros-viagens{
    margin: 1rem;
    background-color: #e4d5fd;
    color: purple;
    border-radius: 5%;
    text-align: center;
    padding: 2rem;
    flex-grow: 1;
    max-width: 200px;
}

.roteiros-viagens img{
    width: 12.5rem;
    height: 10rem;
}

.roteiro-destino{
    margin-top: 1rem;
    font-size: larger;
    font-weight: bolder;
}

.roteiro-incluso{
    list-style-type: none;
    text-align: left;
}
.roteiro-incluso li:before {
    content: '✓';
}

.roteiro-preco{
    font-weight: bold;
}

.roteiro-comprar{
    margin-top: 1rem;
    height: 2rem;
    background-color: rgba(57,200,30,255);
    border: none;
    border-radius: 10%;;
    color: white;
    font-family: 'Open Sans', sans-serif;
}


.roteiro-comprar:hover{
    background-color: #046615;
    cursor: pointer;
}

.roteiro-comprar:active{
    background-color: #046615;
    transform: translateY(5px);
}



@media (max-width: 1200px){
    .container-destinos{
        display: flex;
        align-content: center;
        flex-flow: column;
    }

    .roteiros-viagens{
        margin: 1rem;
        border-radius: 5%;
        padding: 1.5rem;
    }
}