#header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

#header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar-left {
    flex: 1;
}

.navbar-left a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    font-size: larger;
}

.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar-right a {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    font-size: larger;
}

#main{
    min-height: 20rem;
}

#footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

#footer a:hover {
    text-decoration: underline;
}
  