<form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()" class="cadastro">
    <input type="date" formControlName="data">
    <input type="text" formControlName="tutor" placeholder="Nome do tutor" required>
    <input type="text" formControlName="nome" placeholder="Nome do pet" required>
    <input type="text" formControlName="tipo" placeholder="Tipo de animal" required>
    <input type="text" formControlName="raca" placeholder="Raça" required>
    <textarea formControlName="obs" placeholder="Observações"></textarea>
    <br>
    <input type="submit" value="Cadastrar">
</form>