<div class="container">
    <div class="row">
        <div class="col-md-12">
        <h1>Produtos</h1>
        <div class="row">
            <div *ngFor="let produto of produtos">
                <div class="col-md-4 m-2">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{produto.imgURL}}" style="height: 10rem;" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{produto.name}}</h5>
                            <p class="card-text">{{produto.price | currency:'BRL'}}</p>
                            <button class="btn btn-primary" (click)="adcionarAoCarrinho(produto)">Adicionar</button>
                        </div>
                    </div>
            </div>
        </div>
</div>

<div class="cart-container">
    <h2 class="cart-title">Seu carrinho de compras</h2>

    <div *ngFor="let item of listaDeItens(); let i = index" class="cart-items">
        <div class="cart-item border-top border-bottom">
            <p><strong>{{item.name}}</strong></p>
            <p>Preço: {{item.price * item.quantity | currency:'BRL'}}</p>
            <div class="quantity">
                <button (click)="minusQtde(item)">-</button>
                <p>{{item.quantity}}</p>
                <button (click)="plusQtde(item)">+</button>
            </div>
            <button (click)="removeItem(i)" class="remove-item">Remove</button>
        </div>
    </div>
    <div class="cart-total">
        <h3>Total: {{precoTotal()}}</h3>
    </div>
</div>
